// style for login and signup page
.loginForm {
    background-color: $mantle;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    border-radius: 10px;
    justify-content: center;

    label {
        flex: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    label input {
        flex: 100%;
        background-color: $surface0;
        border-radius: 10px;
        box-shadow: none;
        height: 30px;
        color: $text;
        border: none;

    }

    button {
        flex: 100%;
        background-color: $surface0;
        border-radius: 10px;
        color: $text;
        height: 30px;
        border: 1px solid $surface0;
        margin-top: 15px;

        &:hover {
            background-color: $surface1;
        }
    }

    p {
        justify-self: center;
    }
}
