@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: $base;
    color: $text;
    font-size: 20px;
    margin: 0;
}

.link {
    color: $blue;

    &:hover {
        color: $maroon;
        cursor: grab;
    }
}
