@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: $base;
    color: $text;
    font-size: 20px;
    margin: 0;
}

.link, a{
    color: $blue;
    text-decoration: none;

    &:hover {
        color: $maroon;
        cursor: grab;
    }
}

.help {
    img {
        width: 500px;
        height: auto;
        border-radius: 6px;
        border: 2px solid $surface1;
    }
}


.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.error {
    display: flex;
    font-size: 0.7em;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin-top: -8px;
    margin-bottom: 15px;
    color: $red;

    span.material-symbols-outlined {
        font-size: 20px;
        color: $red;
    }
}

/* fixes funky scrollbars on chrome */
